<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.yleo77.trello</string>
	<key>connections</key>
	<dict>
		<key>0F99327D-17C8-4573-BFC4-51E985F7831D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>27606525-0B8B-43BE-876F-F8BB4C633B94</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>34FC5C6B-7DCE-4CE4-81ED-867BAD1F7E5B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BA0960E6-28B1-4E4D-85EF-9034EB4DD724</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>39E727B4-174C-42F6-8F1A-803464BA4454</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB4395A9-84C3-4741-93C1-11481DA729A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>505C63B1-9160-4449-B298-287A3E10B529</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8BF88464-5362-49B9-B9E0-866291FF4CE4</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Set this Board to Master Board</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3D23AC9B-1E8A-45D9-B741-637937C76CC4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>34FC5C6B-7DCE-4CE4-81ED-867BAD1F7E5B</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Copy URL to Clipboard</string>
			</dict>
		</array>
		<key>5BB97B79-2E74-454D-B324-3B4D02006718</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9696D373-9392-4736-9D3E-2FA41FAA6B3B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7CFE2CF0-E452-495B-A14B-AE3EAD908627</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F99327D-17C8-4573-BFC4-51E985F7831D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8BF88464-5362-49B9-B9E0-866291FF4CE4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>33260D09-0B79-4099-A692-D41EE929C0C2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9696D373-9392-4736-9D3E-2FA41FAA6B3B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F8B3C25A-7403-462A-AC90-331B1053F36B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FAB285FB-173C-43C0-9A78-A91B2337CFDF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D23AC9B-1E8A-45D9-B741-637937C76CC4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>34FC5C6B-7DCE-4CE4-81ED-867BAD1F7E5B</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Copy URL to Clipboard</string>
			</dict>
		</array>
		<key>FB4395A9-84C3-4741-93C1-11481DA729A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D16CE31-7051-41F5-B0D5-66F7934F23A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>yleo77</string>
	<key>description</key>
	<string>Some Alias for Trello With Alfred Workflow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Trelloo</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}!</string>
				<key>title</key>
				<string>Trello - URL copied to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BA0960E6-28B1-4E4D-85EF-9034EB4DD724</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tll</string>
				<key>subtext</key>
				<string>Pull Board &amp; Card Data from Server</string>
				<key>text</key>
				<string>Trello - Pull Data</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7CFE2CF0-E452-495B-A14B-AE3EAD908627</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>// pull data from server
php -f run.php -- "pull;{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0F99327D-17C8-4573-BFC4-51E985F7831D</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>php -f addcard.php -- "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9696D373-9392-4736-9D3E-2FA41FAA6B3B</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tlc</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>php -f shows.php -- "card;{query}"</string>
				<key>subtext</key>
				<string>Show My Cards</string>
				<key>title</key>
				<string>Trello - Show Cards</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FAB285FB-173C-43C0-9A78-A91B2337CFDF</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}!</string>
				<key>title</key>
				<string>Trello - Pull Data</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>27606525-0B8B-43BE-876F-F8BB4C633B94</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>// open url 
php -f run.php -- "open;{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3D23AC9B-1E8A-45D9-B741-637937C76CC4</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Trello - Notification</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3D16CE31-7051-41F5-B0D5-66F7934F23A6</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tln</string>
				<key>subtext</key>
				<string>Check Notification</string>
				<key>text</key>
				<string>Trello - Notification</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>39E727B4-174C-42F6-8F1A-803464BA4454</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Trello - Master Board</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>33260D09-0B79-4099-A692-D41EE929C0C2</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tla</string>
				<key>subtext</key>
				<string>Add Card To Master Board</string>
				<key>text</key>
				<string>Trello - Add Card</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5BB97B79-2E74-454D-B324-3B4D02006718</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>// set master board 
php -f run.php -- "set;{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8BF88464-5362-49B9-B9E0-866291FF4CE4</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Trello - Add Card</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F8B3C25A-7403-462A-AC90-331B1053F36B</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>1</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>tl</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C6C34476-8F94-42CB-AEF0-71F022B42AF0</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>// copy url 
php -f run.php -- "copy;{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>34FC5C6B-7DCE-4CE4-81ED-867BAD1F7E5B</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tlb</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>php -f shows.php -- "board;{query}"</string>
				<key>subtext</key>
				<string>Show My Boards</string>
				<key>title</key>
				<string>Trello - Show Boards</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>505C63B1-9160-4449-B298-287A3E10B529</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>// has new notification ? 
php -f run.php -- "notice;"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FB4395A9-84C3-4741-93C1-11481DA729A7</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0F99327D-17C8-4573-BFC4-51E985F7831D</key>
		<dict>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>27606525-0B8B-43BE-876F-F8BB4C633B94</key>
		<dict>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>33260D09-0B79-4099-A692-D41EE929C0C2</key>
		<dict>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>34FC5C6B-7DCE-4CE4-81ED-867BAD1F7E5B</key>
		<dict>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>39E727B4-174C-42F6-8F1A-803464BA4454</key>
		<dict>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>3D16CE31-7051-41F5-B0D5-66F7934F23A6</key>
		<dict>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>3D23AC9B-1E8A-45D9-B741-637937C76CC4</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>505C63B1-9160-4449-B298-287A3E10B529</key>
		<dict>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>5BB97B79-2E74-454D-B324-3B4D02006718</key>
		<dict>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>7CFE2CF0-E452-495B-A14B-AE3EAD908627</key>
		<dict>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>8BF88464-5362-49B9-B9E0-866291FF4CE4</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>9696D373-9392-4736-9D3E-2FA41FAA6B3B</key>
		<dict>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>BA0960E6-28B1-4E4D-85EF-9034EB4DD724</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>C6C34476-8F94-42CB-AEF0-71F022B42AF0</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F8B3C25A-7403-462A-AC90-331B1053F36B</key>
		<dict>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>FAB285FB-173C-43C0-9A78-A91B2337CFDF</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>FB4395A9-84C3-4741-93C1-11481DA729A7</key>
		<dict>
			<key>ypos</key>
			<real>390</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
